@import '~normalize.css';

@import './app/styles/bootstrap.scss';
@import './app/styles/custom/';


html, body, #root {
    height: 100%;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
