version: '3'

volumes:
  postgres:
    driver: local

services:
  postgres:
    image: postgres:9
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=project_db
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
