

.Header {
    height: 80px;
    padding: 0px 20px;
    display: flex;
    align-items: center;

    .title {
        font-size: 20px;
        font-weight: 100;
        text-transform: capitalize;
    }
}