

.NewTaskCard {
    width: 220px;
    height: 130px;

    .card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: 0px !important;

        .new-task-label {
            margin: 0px;
            padding-top: 8px;
            font-weight: 400;
            font-size: 24px;
        }
    }
}