@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import '~bootstrap/scss/mixins/_breakpoints.scss';

/* Examples:
    sizes:
        xs: less than 575.98px
        sm: 576px
        md: 768px
        lg: 992px
        xl: 1200px

    media queries:
        - media-breakpoint-up({size}) { ... }
        - media-breakpoint-down({size}) { ... }
        - media-breakpoint-only({size}) { ... }
    
    example:
        @include media-breakpoint-down(md) {
            h1 { ... }
        }
    
    mobile example:
        @import "~projects/shared/src/lib/styles/custom/breakpoints.scss";
        @include media-breakpoint-down(xs) { ... }

    tablet example:
        @import "~projects/shared/src/lib/styles/custom/breakpoints.scss";
        @include media-breakpoint-down(md) { ... }

*/