$font-size-list: 2 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52;

.font {
    &-light {
        font-weight: 100;
    }

    &-normal {
        font-weight: 400;
    }

    &-bold {
        font-weight: 700;
    }

    @each $current-size in $font-size-list {
        &-#{$current-size} {
            font-size: #{$current-size}px !important;
        }
    }
}