$space-list: 0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64;

.margin {
    &-no {
        margin: 0px !important;
    }

    &-0 {
        margin: 0px !important;
    }
    
    &-0-1-1-1 {
        margin-top: 0px !important;
    }

    &-1-0-1-1 {
        margin-right: 0px !important;
    }

    &-1-1-0-1 {
        margin-bottom: 0px !important;
    }

    &-1-1-1-0 {
        margin-left: 0px !important;
    }

    &-0-1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    &-1-0 {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    @each $current-space in $space-list {
        &-#{$current-space} {
            margin: #{$current-space}px;
        }

        &-top-#{$current-space} {
            margin-top: #{$current-space}px !important;
        }

        &-right-#{$current-space} {
            margin-right: #{$current-space}px !important;
        }

        &-bottom-#{$current-space} {
            margin-bottom: #{$current-space}px !important;
        }

        &-left-#{$current-space} {
            margin-left: #{$current-space}px !important;
        }
    }
}

.padding {
    &-no {
        padding: 0px !important;
    }

    &-0 {
        padding: 0px !important;
    }
    
    &-0-1-1-1 {
        padding-top: 0px !important;
    }

    &-1-0-1-1 {
        padding-right: 0px !important;
    }

    &-1-1-0-1 {
        padding-bottom: 0px !important;
    }

    &-1-1-1-0 {
        padding-left: 0px !important;
    }

    &-0-1 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    &-1-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    @each $current-space in $space-list {
        &-#{$current-space} {
            padding: #{$current-space}px;
        }

        &-top-#{$current-space} {
            padding-top: #{$current-space}px !important;
        }

        &-right-#{$current-space} {
            padding-right: #{$current-space}px !important;
        }

        &-bottom-#{$current-space} {
            padding-bottom: #{$current-space}px !important;
        }

        &-left-#{$current-space} {
            padding-left: #{$current-space}px !important;
        }
    }
}
